@model Project.Models.Season

@{
    ViewBag.Title = "EditSeason";
    Layout = "~/Views/Admin/Layout.cshtml";
}
@using Project.Models
@*<body>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <div class="content-box-large">
                    <div class="panel-heading">
                        <div class="panel-title">Update Season</div>

                        
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("SeasonEdited", "Admin", FormMethod.Post))
                        {
                            @Html.HiddenFor(m => m.id)
                            @Html.LabelFor(m => m.title)
                            @Html.EditorFor(m => m.title)

                            @Html.LabelFor(m => m.director)
                            @Html.EditorFor(m => m.director)
                            
                             @Html.LabelFor(m => m.cast)
                            @Html.EditorFor(m => m.cast)
                            
                           <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Genre</label>
                                        <div class="col-sm-3">
                             
                                        <select name="genre">
                                            <option value="Action" selected>Action</option>
                                            <option value="Comedy">Comedy</option>
                                            <option value="Drama">Drama</option>
                                            <option value="War">War</option>
                                            <option value="Sports">Crime</option>
                                        </select>
                                        </div>
                                    </div>
                             @Html.LabelFor(m => m.description)
                            @Html.TextAreaFor(m => m.description)
                            
                             @Html.LabelFor(m => m.rating)
                            @Html.EditorFor(m => m.rating)
                            
                            <div class="form-group">
                                        <label class="col-md-2 control-label">Upload Image</label>
                                        <div class="col-md-10">
                                            <input type="file" accept="image/jpeg" class="btn btn-default" id="exampleInputFile1" name="image">
                                           
                                        </div>
                                    </div>
                            
                                     <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                        }
                    </div>
                </div>
            </div>




        </div>


          Page content 
    </div>
</body>*@


<body>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <div class="content-box-large">
                    <div class="panel-heading">
                        <div class="panel-title">Update Employee</div>

                        <div class="panel-options">
                            <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                            <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" action="/Admin/SeasonEdited" method="post" enctype="multipart/form-data">
                            @Html.Hidden("id", @Model.id)
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail3" name="title" value="@Model.title">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Director</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputPassword3" name="director" value="@Model.director">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Cast</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail3" name="cast" value="@Model.cast">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Genre</label>
                                <div class="col-sm-3">
                                    @*<input type="text" class="form-control" id="inputEmail3" placeholder="Genre" name="genre">*@
                                    <select name="genre">
                                       @foreach (Category c in ViewBag.genres)
                                        {
                                            if(Model.genre.Trim()==c.genre.Trim())
                                            {
                                                <option value="@c.genre.Trim()" selected>@c.genre.Trim()</option>
                                            }
                                            else
                                            {                                          
                                                <option value="@c.genre.Trim()">@c.genre.Trim()</option>
                                            }

                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" placeholder="Textarea" rows="3" name="description">@Model.description</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Rating</label>
                                <div class="col-sm-10">
                                    <input type="number" step="0.1" class="form-control" id="inputEmail3" min="0" value="@Model.rating" name="rating">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Upload Image 1</label>
                                <div class="col-md-10">
                                    <input type="file" accept="image/jpeg" class="btn btn-default" id="exampleInputFile1" name="image1">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Upload Image 2</label>
                                <div class="col-md-10">
                                    <input type="file" accept="image/jpeg" class="btn btn-default" id="exampleInputFile1" name="image2">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Upload Image 3</label>
                                <div class="col-md-10">
                                    <input type="file" accept="image/jpeg" class="btn btn-default" id="exampleInputFile1" name="image3">

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Upload torrent</label>
                                <div class="col-md-10">
                                    <input type="file" accept=".torrent" class="btn btn-default" id="exampleInputFile2" name="videoUrl">

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Trailer Url</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputPassword3" placeholder="trailer url" name="trailerUrl" value="@Model.trailerUrl">
                                </div>
                            </div>
                           
                             @Html.Hidden("dCount",Model.dCount)

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>




        </div>


        <!--  Page content -->
    </div>
</body>